.section {
  opacity: 1;
  transition: all 0.5s; }

.section--hidden {
  opacity: 0;
  transform: translateY(5rem); }

.hidden {
  visibility: hidden;
  opacity: 0; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
  transition: all 0.3s; }
  @supports (backdrop-filter: blur(0)) {
    .overlay {
      backdrop-filter: blur(4px); } }

@keyframes active-nav-bar {
  100% {
    height: 0; } }

@keyframes header-title {
  0% {
    color: #fff;
    transform: scale(1); }
  50% {
    color: #2988e9;
    transform: scale(1.2); }
  100% {
    color: #fff;
    transform: scale(1); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media screen and (min-width: 87.5em) {
    html {
      font-size: 68.75%; } }
  @media screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media screen and (max-width: 62.5em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Nanum Gothic", sans-serif;
  color: #1a1a1a; }

ul,
ol,
li {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0; }

a:link,
a:visited {
  text-decoration: none;
  cursor: pointer; }

button:focus, button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
  box-shadow: none; }

h1,
h2,
h3 {
  margin: 0; }

.btn {
  display: inline-block;
  padding: 1.5rem 3rem;
  background-color: transparent;
  border: 1px solid #2988e9;
  cursor: pointer;
  text-transform: lowercase;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.8rem;
  letter-spacing: 0.8rem;
  color: #fff;
  transition: transform 0.2s; }
  .btn:hover {
    transform: translateY(-0.4rem); }
  .btn:active {
    transform: translateY(0rem); }

.btn--artists {
  padding: 0.8rem 1.5rem;
  font-size: 1.5rem; }

.btn.btn--audition {
  padding: 1.5rem 10rem;
  border-radius: 3px;
  background-color: #2988e9;
  letter-spacing: 0; }

.pagination {
  position: relative;
  margin: 0 auto;
  width: 90%;
  height: 1px;
  background-color: #e5e5e5; }
  .pagination .slide {
    position: absolute;
    top: -0.5px;
    left: 0;
    width: 14.2857142857%;
    height: 2px;
    background-color: #2988e9; }

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3rem;
  width: 40rem;
  border-radius: 3px;
  background-color: #fff;
  z-index: 100; }
  .modal .modal__close {
    position: absolute;
    top: 1rem;
    right: 2rem;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    line-height: 1;
    font-size: 3rem;
    color: #c5c5c5; }
  .modal__form {
    padding: 3rem;
    display: grid;
    row-gap: 3rem;
    justify-items: center;
    align-items: center;
    border-top: 1px solid #2988e9; }
    .modal__form input {
      padding: 1rem;
      width: 100%;
      border: 1px solid #e5e5e5;
      border-radius: 2px;
      background-color: #f3f3f3;
      color: #2988e9;
      outline: none;
      transition: all 0.5s; }
      .modal__form input:focus {
        border-color: #2988e9;
        background-color: transparent; }
  .modal__button {
    margin-top: 2rem;
    border: 1px solid #2988e9;
    color: #2988e9;
    font-weight: 200; }
    .modal__button:hover, .modal__button:active {
      transform: translateY(0); }
  .modal--image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .modal--image span {
      font-size: 1.2rem; }
  .modal__icon {
    width: 3.5rem;
    height: 3.5rem;
    fill: #2988e9;
    margin-right: 1rem;
    cursor: pointer; }

.navigation {
  width: 100%;
  height: 7rem;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .navigation__bar {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 2.25rem;
    left: 2.25rem;
    cursor: pointer; }
  .navigation__stick {
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
    height: 1px;
    background-color: #2988e9;
    border-radius: 3px;
    backface-visibility: hidden;
    transition: all 0.3s; }
    .navigation__stick--1 {
      top: 0.5rem; }
    .navigation__stick--2 {
      top: 1.2rem; }
      @media screen and (max-width: 62.5em) {
        .navigation__stick--2 {
          top: 1.1rem; } }
    .navigation__stick--3 {
      top: 1.9rem; }
      @media screen and (max-width: 62.5em) {
        .navigation__stick--3 {
          top: 1.7rem; } }
  .navigation__stick--1.active {
    background-color: #c5c5c5;
    transform: translateY(0.7rem) rotate(-135deg); }
  .navigation__stick--2.active {
    left: 50%;
    opacity: 0;
    animation: active-nav-bar 0.8s forwards; }
  .navigation__stick--3.active {
    background-color: #c5c5c5;
    transform: translateY(-0.7rem) rotate(135deg); }
    @media screen and (max-width: 62.5em) {
      .navigation__stick--3.active {
        transform: translateY(-0.6rem) rotate(135deg); } }
  .navigation__box {
    position: absolute;
    top: 7rem;
    left: 0;
    width: 25rem;
    height: 100vh;
    background-color: #fff;
    border-bottom-right-radius: 3px;
    z-index: 10;
    transform: translateX(-25rem);
    transition: transform 0.5s; }
  .navigation__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 2rem 2rem;
    margin-left: 2rem; }
  .navigation__item {
    display: inline-block;
    padding: 1.5rem 3.5rem 1.5rem 0.5rem;
    text-transform: capitalize;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 2.8rem;
    font-weight: 700; }
    .navigation__item:not(:last-child) {
      border-bottom: 1px solid #e5e5e5; }
  .navigation__link {
    position: relative;
    display: inline-block;
    color: #777777; }
    .navigation__link:hover, .navigation__link--active {
      color: #2988e9; }

.nav__home {
  position: absolute;
  top: 1rem;
  left: 7.8rem;
  width: 2rem;
  height: 2rem;
  fill: #2988e9; }

.logo {
  display: block;
  width: 4.5rem;
  height: auto;
  cursor: pointer; }

.navigation.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95); }

.section-title {
  position: relative;
  display: inline-block;
  padding: 1rem 5.5rem;
  margin-bottom: 3rem;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 5.6rem;
  letter-spacing: -0.05rem;
  font-weight: 700;
  color: #1a1a1a;
  z-index: 1; }
  .section-title::after {
    position: absolute;
    top: 5.5rem;
    left: 0;
    display: block;
    content: '';
    width: 40rem;
    height: 1.5rem;
    background-color: #2988e9;
    z-index: -1; }

.section-title.artists__title::after {
  background-color: #fff; }

.footer-title {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 3.6rem;
  margin-bottom: 3rem;
  color: rgba(255, 255, 255, 0.8); }

.modal-title {
  font-size: 3rem;
  color: #777777;
  letter-spacing: -0.05em;
  text-align: center;
  margin-bottom: 3rem; }
  .modal-title svg {
    fill: #2988e9;
    width: 3rem;
    height: 3rem;
    margin: 0.5rem;
    transform: translateY(33.333%); }

.audition {
  padding: 10rem 0;
  background-color: #f3f3f3; }
  @media only screen and (max-width: 43.75em) {
    .audition {
      padding: 7rem 0; } }
  .audition__content {
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem; }
    @media only screen and (max-width: 37.5em) {
      .audition__content {
        grid-template-columns: 1fr; } }
  .audition__textbox {
    align-self: end;
    display: grid;
    grid-template-rows: repeat(2, 1fr) min-content;
    row-gap: 1rem; }
    @media only screen and (max-width: 37.5em) {
      .audition__textbox {
        border-top: 1px solid #e5e5e5; } }
  .audition__subtitle {
    color: #2988e9;
    font-size: 4rem;
    letter-spacing: -0.1em; }
    @media only screen and (max-width: 37.5em) {
      .audition__subtitle {
        margin-top: 2rem; } }
  .audition__text {
    font-size: 1.5rem;
    letter-spacing: -0.05em; }
    .audition__text span {
      font-family: "Source Sans Pro", sans-serif;
      font-size: 1.8rem;
      font-weight: 200;
      color: #2988e9; }
  .audition__btn {
    width: max-content;
    margin-top: 5rem; }
    .audition__btn:hover, .audition__btn:active {
      transform: translateY(0); }
    @media only screen and (max-width: 37.5em) {
      .audition__btn {
        margin-top: 2rem; } }
  .audition__img {
    display: block;
    width: 100%; }
    @media only screen and (max-width: 37.5em) {
      .audition__img {
        order: -1; } }

.about {
  padding: 10rem 0;
  background-color: #f3f3f3;
  position: relative; }
  @media only screen and (max-width: 43.75em) {
    .about {
      padding: 7rem 0;
      background-color: #fff; } }
  .about__content {
    position: relative;
    z-index: 1;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: start; }
    @media only screen and (max-width: 43.75em) {
      .about__content {
        margin-bottom: 0; } }
  .about__image {
    width: 92%; }
    @media only screen and (max-width: 53.125em) {
      .about__image {
        width: 100%; } }
  .about__textbox {
    padding: 3rem 3.5rem;
    position: absolute;
    top: 40%;
    left: 0;
    z-index: 2;
    width: 40rem;
    height: 20rem;
    background-color: #2988e9;
    color: #fff;
    visibility: visible;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start; }
    @media only screen and (max-width: 53.125em) {
      .about__textbox {
        background-color: transparent;
        color: #2988e9; } }
    @media only screen and (max-width: 37.5em) {
      .about__textbox {
        visibility: hidden; } }
    .about__textbox--title {
      text-transform: capitalize;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 4.8rem;
      font-weight: 200;
      letter-spacing: 1.4rem;
      margin-bottom: 2rem; }
    .about__textbox--paragraph {
      font-size: 1.4rem;
      letter-spacing: -0.1rem;
      line-height: 1.6; }
  .about__description {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: start; }
  .about__info {
    flex: 0 0 70%;
    padding: 3rem 6rem 3.5rem 4rem;
    background-color: #fff; }
    .about__info::before {
      display: block;
      content: '';
      flex: 0 0 30%;
      background-color: transparent; }
    @media only screen and (max-width: 43.75em) {
      .about__info {
        flex: 0 0 100%;
        background-color: transparent; } }
  .about__detail {
    font-size: 1.6rem;
    letter-spacing: -0.1em;
    line-height: 1.8; }
    .about__detail--emph {
      font-family: "Source Sans Pro", sans-serif;
      font-size: 3rem;
      letter-spacing: 0;
      font-weight: 200;
      color: #2988e9; }

.artists {
  padding: 10rem 0;
  background-color: #2988e9; }
  @media only screen and (max-width: 43.75em) {
    .artists {
      padding: 7rem 0; } }
  .artists__list {
    padding: 2rem 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; }
    @media only screen and (max-width: 43.75em) {
      .artists__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; } }
  .artists__group {
    position: relative;
    width: 30%;
    height: auto; }
    @media only screen and (max-width: 43.75em) {
      .artists__group {
        width: 80%; } }
  .artists__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10%);
    text-align: center;
    opacity: 0;
    transition: all 0.5s; }
    @media only screen and (max-width: 53.125em) {
      .artists__content {
        transform: translate(-50%, -50%); } }
    .artists__content.active {
      opacity: 1;
      transform: translate(-50%, -20%); }
  .artists__image {
    width: 100%;
    height: 100%;
    padding: 1rem 0;
    transition: all 0.5s; }
    .artists__image.active {
      filter: brightness(70%); }
  .artists__name {
    display: inline-block;
    text-transform: uppercase;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 2.8rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 0.5rem; }
  .artists__sns-box {
    margin-bottom: 0.5rem; }
    .artists__sns-box a:not(:last-child) {
      margin-right: 0.7rem; }
      @media only screen and (max-width: 53.125em) {
        .artists__sns-box a:not(:last-child) {
          margin-right: 0.3rem; } }
  .artists__sns {
    width: 3rem;
    height: 3rem;
    fill: rgba(255, 255, 255, 0.7); }
  @media (hover: none) {
    .artists__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      opacity: 1;
      transform: translate(-50%, -20%); }
    .artists__image {
      filter: brightness(80%); }
    .artists__sns-box {
      display: none; } }

.footer {
  padding: 4rem;
  background-color: #2988e9; }
  .footer__name::after {
    display: block;
    content: '';
    height: 1px;
    width: 100%;
    background-color: rgba(229, 229, 229, 0.3);
    transform: translateY(1.3rem); }
  .footer__list {
    display: flex;
    margin-bottom: 2rem; }
  .footer__item {
    font-size: 1.1rem; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link {
    color: #1a1a1a; }

.copyright p {
  color: #fff;
  font-size: 1.2rem;
  letter-spacing: -0.05em; }

.copyright span {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.2rem;
  font-weight: 700; }

.copyright strong {
  font-weight: 200;
  font-size: 1.8rem;
  color: rgba(255, 255, 255, 0.5); }

.header__intro {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/helloWM-header.jpg);
  background-size: cover;
  background-position: top;
  transform: translateY(6rem); }

.header__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.header__title {
  display: inline-block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 7.5rem;
  font-weight: 200;
  letter-spacing: 3rem;
  color: #fff;
  margin-bottom: 4rem;
  transition: all 0.3s; }
  .header__title:hover {
    animation: header-title 1s; }

.releases {
  padding: 10rem 0; }
  @media only screen and (max-width: 43.75em) {
    .releases {
      padding: 7rem 0; } }
  .releases__box {
    width: 90%;
    margin: 2rem auto; }
  .releases__carousel {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: min-content;
    overflow: hidden; }
  .releases__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
    width: 100%;
    height: 100%;
    transition: all 0.7s; }
  .releases__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 33.3333%;
    flex-shrink: 0;
    width: 33.3333%; }
    @media only screen and (max-width: 37.5em) {
      .releases__item {
        flex-basis: 50%;
        width: 50%; } }
    @media only screen and (max-width: 25em) {
      .releases__item {
        flex-basis: 100%;
        width: 100%; } }
  .releases__img {
    display: block;
    width: 23rem;
    height: 23rem;
    margin-bottom: 4rem;
    box-shadow: 0 0.5rem 0.5rem -0.5rem rgba(51, 51, 51, 0.5); }
  .releases__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Source Sans Pro", sans-serif;
    opacity: 1; }
    .releases__content > strong {
      font-size: 3rem;
      margin-bottom: 4rem; }
  .releases__text {
    display: inline-block;
    text-align: center;
    font-size: 1.6rem;
    text-transform: capitalize; }
