@import './constants/colors';
@import './constants/typography';

@import './base/animations';
@import './base/base';
@import './base/mixins';

@import './components/button';
@import './components/navigation';
@import './components/slider';
@import './components/title';

@import './layouts/audition';
@import './layouts/about';
@import './layouts/artists';
@import './layouts/footer';
@import './layouts/header';
@import './layouts/releases';
