.btn {
  display: inline-block;
  padding: 1.5rem 3rem;
  background-color: transparent;
  border: 1px solid $color-primary;
  cursor: pointer;

  text-transform: lowercase;
  font-family: $font-en;
  font-size: 1.8rem;
  letter-spacing: 0.8rem;
  color: $color-white;
  transition: transform 0.2s;

  // TODO: JavaScript
  &:hover {
    transform: translateY(-0.7rem);
  }

  &:active {
    transform: translateY(-0.2rem);
  }
}

.btn--artists {
  padding: 0.8rem 1.5rem;
  font-size: 1.5rem;
}

.btn.btn--audition {
  padding: 1.5rem 10rem;
  border-radius: 3px;
  background-color: $color-primary;
  letter-spacing: 0;
}
