.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3rem;
  width: 40rem;
  border-radius: 3px;
  background-color: $color-white;
  z-index: 100;

  .modal__close {
    position: absolute;
    top: 1rem;
    right: 2rem;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;

    line-height: 1;
    font-size: 3rem;
    color: $color-btn;
  }

  &__form {
    padding: 3rem;
    display: grid;
    row-gap: 3rem;
    justify-items: center;
    align-items: center;
    border-top: 1px solid $color-primary;

    input {
      padding: 1rem;
      width: 100%;
      border: 1px solid $color-border;
      border-radius: 2px;
      background-color: $color-bgc;
      color: $color-primary;
      outline: none;
      transition: all 0.5s;

      &:focus {
        border-color: $color-primary;
        background-color: transparent;
      }
    }
  }

  &__button {
    margin-top: 2rem;
    border: 1px solid $color-primary;
    color: $color-primary;
    font-weight: 200;
  }

  &--image {
    @include flexbox(center, center);

    span {
      font-size: 1.2rem;
    }
  }

  &__icon {
    width: 3.5rem;
    height: 3.5rem;
    fill: $color-primary;
    margin-right: 1rem;
    cursor: pointer;
  }
}
