.navigation {
  width: 100%;
  height: 7rem;
  background-color: $color-white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  @include flexbox(center, center);

  &__bar {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 2rem;
    left: 2rem;

    cursor: pointer;
  }

  &__stick {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 1px;
    background-color: $color-primary;
    border-radius: 3px;

    backface-visibility: hidden;
    transition: all 0.3s;

    &--1 {
      top: 0.5rem;
    }

    &--2 {
      top: 1.2rem;

      @media screen and (max-width: $bp-10) {
        top: 1.1rem;
      }
    }

    &--3 {
      top: 1.9rem;

      @media screen and (max-width: $bp-10) {
        top: 1.7rem;
      }
    }
  }

  &__stick--1.active {
    background-color: $color-btn;
    transform: translateY(0.7rem) rotate(-135deg);
  }

  &__stick--2.active {
    left: 50%;
    opacity: 0;
    animation: active-nav-bar 0.8s forwards;
  }

  &__stick--3.active {
    background-color: $color-btn;
    transform: translateY(-0.7rem) rotate(135deg);

    @media screen and (max-width: $bp-10) {
      transform: translateY(-0.6rem) rotate(135deg);
    }
  }

  &__box {
    position: absolute;
    top: 7rem;
    left: 0;
    width: 25rem;
    height: 100vh;
    background-color: $color-white;
    border-bottom-right-radius: 3px;
    z-index: 10;

    transform: translateX(-25rem);
    transition: transform 0.5s;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 2rem 2rem;
    margin-left: 2rem;
  }

  &__item {
    display: inline-block;
    padding: 2rem 1.5rem;
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: 700;

    &:not(:last-child) {
      border-bottom: 1px solid $color-border;
    }
  }

  &__link {
    position: relative;
    display: inline-block;
    color: $color-grey;

    &:hover,
    &--active {
      color: $color-primary;
    }
  }
}

.nav__home {
  position: absolute;
  top: 0.2rem;
  left: 6.5rem;
  width: 2rem;
  height: 2rem;
  fill: $color-primary;
}

.logo {
  display: block;
  width: 4.5rem;
  height: auto;
  cursor: pointer;
}

.navigation.sticky {
  position: fixed;
  background-color: rgba($color-white, 0.95);
}
