.pagination {
  position: relative;
  margin: 0 auto;
  width: 90%;
  height: 1px;
  background-color: $color-border;

  .slide {
    position: absolute;
    top: -0.5px;
    left: 0;
    width: 14.2857142857%;
    height: 2px;
    background-color: $color-primary;
  }
}
