.section-title {
  position: relative;
  display: inline-block;
  padding: 1rem 5.5rem;
  margin-bottom: 3rem;

  font-family: $font-en;
  font-size: 5.6rem;
  letter-spacing: -0.05rem;
  font-weight: 700;
  color: $color-text;

  z-index: 1;

  &::after {
    position: absolute;
    top: 5.5rem;
    left: 0;
    display: block;
    content: '';
    width: 40rem;
    height: 1.5rem;
    background-color: $color-primary;

    z-index: -1;
  }
}

.section-title.artists__title {
  &::after {
    background-color: $color-white;
  }
}

.footer-title {
  font-family: $font-en;
  font-size: 3.6rem;
  margin-bottom: 3rem;
  color: rgba($color-white, 0.8);
}
