*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: $font-kr;
  color: $color-text;
}

ul,
ol,
li {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

a:link,
a:visited {
  text-decoration: none;
  cursor: pointer;
}

button,
input,
textarea {
  &:focus,
  &:active {
    outline: none;
    box-shadow: none;
  }
}

h1,
h2,
h3 {
  margin: 0;
}
