.about {
  padding: 7rem 0;
  background-color: $color-bgc;
  position: relative;

  &__content {
    position: relative;
    margin-bottom: 5rem;
    z-index: 1;

    @include flexbox(flex-end, start);
  }

  &__image {
    width: 92%;
  }

  &__textbox {
    padding: 3rem 3.5rem;
    position: absolute;
    top: 23rem;
    left: 0;
    z-index: 2;

    width: 40rem;
    height: 20rem;
    background-color: $color-primary;

    @include flexbox(flex-end, start, column);

    &--title {
      text-transform: capitalize;
      font-family: $font-en;
      font-size: 4.8rem;
      font-weight: 200;
      letter-spacing: 1.4rem;
      color: $color-white;

      margin-bottom: 2rem;
    }

    &--paragraph {
      color: $color-white;
      font-size: 1.4rem;
      letter-spacing: -0.1rem;
      line-height: 1.6;
    }
  }

  &__description {
    width: 100%;
    @include flexbox(flex-end);
  }

  &__info {
    flex: 0 0 70%;
    padding: 3rem 6rem 3.5rem 4rem;
    background-color: $color-white;

    &::before {
      display: block;
      content: '';
      flex: 0 0 30%;
      background-color: transparent;
    }
  }

  &__detail {
    font-size: 1.6rem;
    letter-spacing: -0.1em;
    line-height: 1.8;

    &--emph {
      font-family: $font-en;
      font-size: 3rem;
      letter-spacing: 0;
      font-weight: 200;
      color: $color-primary;
    }
  }
}
