.about {
  padding: 10rem 0;
  background-color: $color-bgc;
  position: relative;

  @media only screen and (max-width: $bp-7) {
    padding: 7rem 0;
    background-color: $color-white;
  }

  &__content {
    position: relative;
    z-index: 1;
    margin-bottom: 5rem;

    @include flexbox(flex-end, start);

    @media only screen and (max-width: $bp-7) {
      margin-bottom: 0;
    }
  }

  &__image {
    width: 92%;

    @media only screen and (max-width: $bp-8) {
      width: 100%;
    }
  }

  &__textbox {
    padding: 3rem 3.5rem;
    position: absolute;
    top: 40%;
    left: 0;
    z-index: 2;

    width: 40rem;
    height: 20rem;
    background-color: $color-primary;
    color: $color-white;
    visibility: visible;

    @include flexbox(center, start, column);

    @media only screen and (max-width: $bp-8) {
      background-color: transparent;
      color: $color-primary;
    }

    @media only screen and (max-width: $bp-6) {
      visibility: hidden;
    }

    &--title {
      text-transform: capitalize;
      font-family: $font-en;
      font-size: 4.8rem;
      font-weight: 200;
      letter-spacing: 1.4rem;

      margin-bottom: 2rem;
    }

    &--paragraph {
      font-size: 1.4rem;
      letter-spacing: -0.1rem;
      line-height: 1.6;
    }
  }

  &__description {
    width: 100%;
    @include flexbox(flex-end);
  }

  &__info {
    flex: 0 0 70%;
    padding: 3rem 6rem 3.5rem 4rem;
    background-color: $color-white;

    &::before {
      display: block;
      content: '';
      flex: 0 0 30%;
      background-color: transparent;
    }

    @media only screen and (max-width: $bp-7) {
      flex: 0 0 100%;
      background-color: transparent;
    }
  }

  &__detail {
    font-size: 1.6rem;
    letter-spacing: -0.1em;
    line-height: 1.8;

    &--emph {
      font-family: $font-en;
      font-size: 3rem;
      letter-spacing: 0;
      font-weight: 200;
      color: $color-primary;
    }
  }
}
