.artists {
  padding: 10rem 0;
  background-color: $color-primary;

  @media screen and (max-width: $bp-7) {
    padding: 4rem 0;
  }

  &__list {
    padding: 2rem 2.5rem;

    @include flexbox(space-evenly, center);

    @media screen and (max-width: $bp-7) {
      @include flexbox(center, center, column);
    }
  }

  &__group {
    position: relative;
    width: 30%;
    height: auto;

    @media screen and (max-width: $bp-7) {
      width: 80%;
    }

    & figcaption {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 10%);
      text-align: center;
      opacity: 0;
      transition: all 0.5s;

      @media screen and (max-width: $bp-8) {
        transform: translate(-50%, -50%);
      }
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    padding: 1rem 0;
    transition: all 0.5s;

    // TODO: JavaScript
    &:hover + figcaption,
    & > figcaption.active {
      opacity: 1;
      transform: translate(-50%, -20%);
    }

    &:hover,
    &.active {
      filter: brightness(60%);
    }
  }

  &__name {
    display: inline-block;
    text-transform: uppercase;
    font-family: $font-en;
    font-size: 2.8rem;
    font-weight: 700;
    color: $color-white;

    margin-bottom: 0.5rem;
  }

  &__sns-box {
    margin-bottom: 0.5rem;

    & a:not(:last-child) {
      margin-right: 0.7rem;

      @media screen and (max-width: $bp-8) {
        margin-right: 0.3rem;
      }
    }
  }

  &__sns {
    width: 3rem;
    height: 3rem;
    fill: rgba($color-white, 0.7);
  }
}
