.audition {
  padding: 10rem 0;
  background-color: $color-bgc;

  @media screen and (max-width: $bp-7) {
    padding: 7rem 0;
  }

  &__content {
    padding: 3rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;

    @media screen and (max-width: $bp-6) {
      grid-template-columns: 1fr;
    }
  }

  &__textbox {
    align-self: end;

    display: grid;
    grid-template-rows: repeat(2, 1fr) min-content;
    row-gap: 1rem;

    @media screen and (max-width: $bp-6) {
      border-top: 1px solid $color-border;
    }
  }

  &__subtitle {
    color: $color-primary;
    font-size: 4rem;
    letter-spacing: -0.1em;

    @media screen and (max-width: $bp-6) {
      margin-top: 2rem;
    }
  }

  &__text {
    font-size: 1.5rem;
    letter-spacing: -0.05em;

    span {
      font-family: $font-en;
      font-size: 1.8rem;
      font-weight: 200;
      color: $color-primary;
    }
  }

  &__btn {
    width: max-content;
    margin-top: 5rem;

    &:hover,
    &:active {
      transform: translateY(0);
    }

    @media screen and (max-width: $bp-6) {
      margin-top: 2rem;
    }
  }

  &__img {
    display: block;
    width: 100%;

    @media screen and (max-width: $bp-6) {
      order: -1;
    }
  }
}
