.header {
  &__intro {
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(
        rgba($color-black, 0.5),
        rgba($color-black, 0.5)
      ),
      url(../img/helloWM-header.jpg);
    background-size: cover;
    background-position: top;
  }

  &__text {
    @include flexbox(center, center, column);
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  &__title {
    display: inline-block;
    font-family: $font-en;
    font-size: 7.5rem;
    font-weight: 200;
    letter-spacing: 3rem;
    color: $color-white;
    margin-bottom: 4rem;
    transition: all 0.3s;

    &:hover {
      animation: header-title 1s;
    }
  }
}
