.releases {
  padding: 7rem 0;

  @media screen and (max-width: $bp-7) {
    padding: 4rem 0;
  }

  &__box {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
  }

  &__list {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 12rem;

      @media screen and (max-width: $bp-7) {
        margin-right: 7rem;
      }
    }
  }

  // TODO: JavaScript image slider
  &__img {
    display: block;
    width: 23rem;
    height: 23rem;
    margin-bottom: 4rem;
    box-shadow: 0 0.5rem 0.5rem -0.5rem rgba(51, 51, 51, 0.5);
  }

  &__content {
    @include flexbox(center, center, column);
    font-family: $font-en;

    & > strong {
      font-size: 3rem;
      margin-bottom: 4rem;
    }
  }

  &__text {
    display: inline-block;
    text-align: center;
    font-size: 1.6rem;
    text-transform: capitalize;
  }
}
