.releases {
  padding: 10rem 0;

  @media only screen and (max-width: $bp-7) {
    padding: 7rem 0;
  }

  &__box {
    width: 90%;
    margin: 2rem auto;
  }

  &__carousel {
    @include flexbox(flex-start, flex-start);
    width: 100%;
    height: min-content;
    overflow: hidden;
  }

  &__list {
    @include flexbox(flex-start);
    width: 100%;
    height: 100%;
    transition: all 0.7s;
  }

  &__item {
    @include flexbox(flex-start, center, column);
    flex-basis: 33.3333%;
    flex-shrink: 0;
    width: 33.3333%;

    @media only screen and (max-width: $bp-6) {
      flex-basis: 50%;
      width: 50%;
    }

    @media only screen and (max-width: $bp-4) {
      flex-basis: 100%;
      width: 100%;
    }
  }

  &__img {
    display: block;
    width: 23rem;
    height: 23rem;
    margin-bottom: 4rem;
    box-shadow: 0 0.5rem 0.5rem -0.5rem rgba(51, 51, 51, 0.5);
  }

  &__content {
    @include flexbox(center, center, column);
    font-family: $font-en;
    opacity: 1;

    & > strong {
      font-size: 3rem;
      margin-bottom: 4rem;
    }
  }

  &__text {
    display: inline-block;
    text-align: center;
    font-size: 1.6rem;
    text-transform: capitalize;
  }
}
